*{ 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    align-items: center;
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
    transform: translateY(20px);
    opacity: 0;
    animation: enter 0.6s ease-out forwards;
    max-width: 1200px;
    margin: 0 auto;
}

@keyframes enter {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


html{
    scroll-behavior:smooth;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(/e815b2cc-d45a-4434-98fb-9068560663f7.jpg);
    background-size: cover;
    background-position: center;
}

.logo{
    color:#fff;
}

.container{
    padding:10px 10%
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px; 
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a:after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
}
nav ul li a:hover:after {
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span {
    color: #ff004f
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#header{
  animation: fadeUp 1s ease forwards;
}

/* -------------------------------------------------------about--------------------------------------------- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.about-col-1{
    flex-basis:35%;
}
.about-col-1 img{
    width: 500px;
    border-radius: 15px;
}
.about-col-2{
    display:flex;
    flex-direction: column;
    border-radius: 15px;
    flex-basis: 60%;
    margin-top: 0;
}
.subtitle{
    font-size: 40px;
    font-weight: 600;
    color:#fff;   
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right:50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#about{
  animation: fadeUp 1s ease forwards;
}


/* -----------------------------Services-------------------- */
#services{
    padding: 30px 0;
    background-color:#080808 ;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div p {
    font-size: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
    box-shadow: 0 10px 25px white;
}

.line{
    display: block;
    width: 40px;
    height: 2px;
    background: #ff004f;
    margin: 0 auto 10px;
}

.test{
    justify-content: center;
    align-items: center;
    display: flex;
}


.services-list {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ---------------------------------------------------why us---------------------------------------------------- */

.whyChoose{
    padding: 20px 60px;
    align-items: center;
    justify-content: center;

}
.h

.why-us {
  padding: 80px 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
}

h1 span {
  font-weight: 800;
}

.divider {
  width: 80px;
  height: 4px;
  background: #fff;
  margin: 25px auto 60px;
  border-radius: 2px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.card {
  background: white;
  color: black;
  padding: 35px 30px;
  border-radius: 50px;
  text-align: left;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: background 0.5s, transform 0.5s;
}

.card:hover{
    background-color: #ff004f;
    transform: translateY(-10px);
    box-shadow: 0 10px 25px white;
}


.card h3 {
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
}

.card h3::after {
  content: "";
  width: 35px;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  border-radius: 2px;
}

.card ul {
  list-style: none;
  margin-top: 20px;
}

.card ul li {
  margin-bottom: 12px;
  padding-left: 28px;
  position: relative;
  font-size: 15px;
}

.card ul li::before {
  content: "✓";
  color: #ff004f;
  font-weight: bold;
  position: absolute;
  left: 0;
}

.card ul li:hover {
   content: "✓";
   color: white 
}

.card p {
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 15px;
}


/* ----------------------------------------Porfolio--------------------------------- */

#portfolio{
    padding: 30px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 100%;
    transition: transform 0.5s;
    
}
.layer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

/* ------------------------------------contact--------------------- */
#contact{
    height: 20%;
}
.contact-left{
    flex-basis: 35%;
    margin-top: 0;
    font-size: 30px;
}
.row{
    display: flex;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
    width: 100px;
    border-radius: 10px;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    text-decoration: none;
    color: white;
}
.btn1{
    display: inline-block;
    background: #ff004f;
    width: 100px;
    border-radius: 10px;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.btn1:hover{
    color:black ;
    background-color: #fff;
}

.contact-right form{
    width:100%;
}

form input, form textarea{
    width: 100%;
    border:0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.social-icons{
    margin-top: 30px;
}
.social-icons i{
    text-decoration:none ;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons i:hover{
    color:#ff004f;
    transform: translateY(-5px);
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
 nav .bx {
    display: none;
    }

/* -------------------------------------------------Hire------------------------ */
.Hire{
    justify-content: center;
    align-items: center;
    padding: 60px 100px;
    text-align: center;
    background-color: #262626;
    color: white;
}

.hire{
    font-size: 30px;
    font-weight: 900;
    color: white;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.hire2 {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.btn{
    display: inline-block;
    background: #ff004f;
    width: 100px;
    border-radius: 10px;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    text-decoration: none;
    color: white;
}

.btn:hover{
    color:#ff004f;
    background-color:white ;
}

.stack-glow {
    /* background-color: white; */
    margin-top: 50px;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #ff004f;
  }
  to {
    text-shadow: 0 0 20px #ff004f;
  }
}

/* ----------------------------------CSS 4 SMALL SCREEN-------------------------------- */
@media only screen and (max-width: 968px){
    body {
        padding: 0 10px;
        overflow-x: hidden;
    }
    
    #header{
        background-image: url(/e4ab712f-3eab-4d81-a8e3-c6afecc8fbaf.jpg);
        /* height: auto; */
        background-position: center;
        background-size: cover;
        background-position: center;
    }
    .header-text{
        margin-top:30%;
        text-align: center;
    }
    .header-text h1 {
        font-size: 2.2rem;
    }

    nav {
    flex-direction: column;
    gap: 12px;
  }
    nav .bx {
        display: block;
        font-size: 25px;
    }
    #menu{
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    .links {
        position:absolute;
        top: 0%;
        /* width: 50%; */
        height: 100%;
        margin-left: 90%;
        padding: 1em 3em;
        display: flex;
        flex-direction: column ;
        text-align: center;
        background-color: rgba(0,0,0,0.4);
        display: none;
    }
    .links.active{
        display: block;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        transition: right 0.5s;
        width: 100%;
        padding: 10px 0;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }
    .row{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .subtitle{
        font-size: 40px;
    }
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }
    .about-col-1 {
        margin-bottom: 30px;
    }
    .about-col-1 img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    }
    .about-col-2{
        font-size: 14px;
        width: 100%;
        text-align: center;
    }
    .tab-titles {
    flex-direction: column;
    gap: 10px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .work-list{
        display: flex;
        flex-direction: column;
        height: 5%;
    }
    .contact-left{
        font-size: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .btn1{
        display:none ;
    }
    /* SERVICES */
  .services-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /* WORK / PORTFOLIO */
  .work-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /* CONTACT */
  .contact-left,
  .contact-right {
    width: 100%;
    text-align: center;
  }
  form input,
  form textarea {
    font-size: 1rem;
  }

  /* BUTTONS */
  .btn,
  .btn1,
  .btn.btn2 {
    font-size: 1rem;
    padding: 10px 20px;
  }

  /* TEXT RESIZING */
  h1 {
    font-size: 1.8rem;
  }
  p,
  li {
    font-size: 0.9rem;
  }

  .cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }
   .stack-glow {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }
   .work-list {
    /* grid-template-columns: 1fr; */
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
  }
  .work-list, img{
    max-width: auto;
    height: auto;
    display: block;
    gap: 20px;
    margin-top: 30px;
  } 
  .container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .Hire {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align:center;
  }
  .hire2{
    text-align: center;
    
  }
}


